.mycard {
  width: 230px;
  height: 380px;
  margin: 10px;
  text-align: center;
  background: var(--white-color) !important;
  border-radius: 12px !important;
  border: none !important;
  /*normal*/
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s; */
  /*normal*/
  /*new*/
  box-shadow: 8px 14px 38px rgba(39, 44, 49, 0.06),
    1px 3px 8px rgba(39, 44, 49, 0.03);
  transition: all 0.5s ease; /* back to normal */
  /*new*/
}

.mycard:hover {
  /*normal*/
  /* box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); */
  /*normal*/
  /*new*/
  transform: translate3D(0, -1px, 0) scale(1.03); /* move up slightly and zoom in */
  box-shadow: 8px 28px 50px rgba(39, 44, 49, 0.07),
    1px 6px 12px rgba(39, 44, 49, 0.04);
  transition: all 0.4s ease; /* zoom in */
  /*new*/
}
.clickable:hover {
  cursor: pointer;
}

.mcard-header {
  background-color: rgb(120, 142, 189);
  border-radius: 12px 12px 0px 0px;
  width: 230px;
  height: 150px;
  /* padding: 5px; */
  background-size: cover;
  color: #fff;
  text-shadow: 4px 4px 4px #000000;
}
.mcard-headerS {
  border-radius: 12px 12px 0px 0px;
  width: 230px;
  height: 150px;
  /* padding: 5px; */
  background-size: cover;
  color: #fff;
  text-shadow: 4px 4px 4px #000000;
}

.mcard-header--title {
  float: left;
  text-transform: uppercase;
  font-weight: 650;
}
.mycard-title {
  height: 30px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
}
.date {
  font-size: small;
  display: inline-block;
  height: 100%;
  vertical-align: bottom;
}
.tutorname {
  height: 22px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.day {
  text-align: center;
  width: 150px;
  height: 45px;
  overflow: auto;
  border: none;
  resize: none;
  border-right: 3px double rgb(215, 215, 215);
}
.dayK {
  text-align: center;
  width: 150px;
  height: 45px;
  overflow: auto;
  /* border: none;
  resize: none; */
  border-right: 3px double rgb(215, 215, 215);
}
.margintop {
  margin-top: 20px;
}
