.myStyle {
  text-align: center;
}
.tutorname {
  font-weight: 700;
  color: gray;
}
.center {
  text-align: center;
}
.studentlist:hover {
  background-color: beige;
}
.studentlist {
  height: 30px;
}
.slist {
  vertical-align: middle;
}
