@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.myStyle {
  text-align: center;
}
.picPro {
  margin: 30px;
  width: 150px;
  height: 150px;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}
.bigCard {
  width: auto;
  min-width: 1000px;
  height: auto;
  min-height: 600px;
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  margin: 10px;
  box-shadow: 8px 14px 38px rgba(39, 44, 49, 0.06),
    1px 3px 8px rgba(39, 44, 49, 0.03);
}
.headerB {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-align: center;
}
.nameB {
  font-family: Roboto;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #000000;
}
.valueB {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #000000;
}
.infoC {
  background-color: rgb(215, 213, 212);
  border-radius: 12px;
  padding: 10px;
  padding-left: 10px;
}
